on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'
  push:
    branches: zig-0.16
jobs:
  test:
    name: 'Test'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          ref: zig-0.16
      - uses: mlugg/setup-zig@v2
        with:
          version: master
      - run: zig build -Dtarget=x86_64-windows
      - run: zig build test
      - name: 'Example: 74x181'
        run: zig build
        working-directory: ./examples/74x181/
      - name: 'Example: adder'
        run: zig build
        working-directory: ./examples/adder/
      - name: 'Example: compress_18_5'
        run: zig build
        working-directory: ./examples/compress_18_5/
      - name: 'Example: counter1'
        run: zig build
        working-directory: ./examples/counter1/
      - name: 'Example: counter2'
        run: zig build
        working-directory: ./examples/counter2/
      - name: 'Example: demux'
        run: zig build
        working-directory: ./examples/demux/
      - name: 'Example: gray_code'
        run: zig build
        working-directory: ./examples/gray_code/
      - name: 'Example: larson_scanner'
        run: zig build
        working-directory: ./examples/larson_scanner/
      - name: 'Example: priority_encoder'
        run: zig build
        working-directory: ./examples/priority_encoder/
      - name: 'Example: vau'
        run: zig build
        working-directory: ./examples/vau/
